In [44]:
#import libraries
import pandas as pd
import numpy as np

In [45]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/ENV717')
os.getcwd()

'/content/drive/MyDrive/Colab Notebooks/ENV717'

## Question 1

In [47]:
#import the excel file from the website
egrid_plnt20=pd.read_excel("https://www.epa.gov/system/files/documents/2022-01/egrid2020_data.xlsx", 
                       sheet_name="PLNT20", keep_default_na=False, header=1)
egrid_plnt20.head(10)

,SEQPLT20,YEAR,PSTATABB,PNAME,ORISPL,OPRNAME,OPRCODE,UTLSRVNM,UTLSRVID,SECTOR,...,PLWIPR,PLSOPR,PLGTPR,PLOFPR,PLOPPR,PLTNPR,PLTRPR,PLTHPR,PLCYPR,PLCNPR
0,1,2020,AK,7-Mile Ridge Wind Project,60814,Alaska Power and Telephone Co,219,Alaska Power and Telephone Co,219,Electric Utility,...,,,,,,,,,,
1,2,2020,AK,Agrium Kenai Nitrogen Operations,54452,Homer Electric Assn Inc,19558,Agrium US Inc,179,Industrial CHP,...,,,,,,,,,,
2,3,2020,AK,Alakanuk,57053,"Alaska Village Elec Coop, Inc",221,"Alaska Village Elec Coop, Inc",221,Electric Utility,...,,,,,,,,,,
3,4,2020,AK,Allison Creek Hydro,58982,"Copper Valley Elec Assn, Inc",4329,"Copper Valley Elec Assn, Inc",4329,Electric Utility,...,0,0,0,0,0,0,1,0,0,1
4,5,2020,AK,Ambler,60243,"Alaska Village Elec Coop, Inc",221,"Alaska Village Elec Coop, Inc",221,Electric Utility,...,0,0,0,0,0,1,0,0,1,0
5,6,2020,AK,Anchorage 1,75,Chugach Electric Assn Inc,3522,Chugach Electric Assn Inc,3522,Electric Utility,...,0,0,0,0,0,1,0,0,1,0
6,7,2020,AK,Angoon,7462,"Inside Passage Elec Coop, Inc",18963,"Inside Passage Elec Coop, Inc",18963,Electric Utility,...,0,0,0,0,0,1,0,0,1,0
7,8,2020,AK,Aniak,7182,Aniak Light & Power Co Inc,4959,Aniak Light & Power Co Inc,4959,Electric Utility,...,0,0,0,0,0,1,0,0,1,0
8,9,2020,AK,Annex Creek,62,Alaska Electric Light&Power Co,213,Alaska Electric Light&Power Co,213,Electric Utility,...,0,0,0,0,0,0,1,0,0,1
9,10,2020,AK,Auke Bay,7250,Alaska Electric Light&Power Co,213,Alaska Electric Light&Power Co,213,Electric Utility,...,,,,,,,,,,

In [48]:
#Name of columns
# Plant name: PNAME
# Plant state abbreviation: PSTATABB
# Utility name: UTLSRVNM
# Plant-level sector: SECTOR
# Balancing Authority Name: BANAME
# Plant associated ISO/RTO Territory: ISORTO
# Plant capacity factor: CAPFAC
# Plant nameplate capacity: NAMEPCAP
# Plant annual net generation (MWh): PLNGENAN

#Change the data to numeric
egrid_plnt20.CAPFAC=pd.to_numeric(egrid_plnt20.CAPFAC)
egrid_plnt20.NAMEPCAP=pd.to_numeric(egrid_plnt20.NAMEPCAP)
egrid_plnt20.PLNGENAN=pd.to_numeric(egrid_plnt20.PLNGENAN)

#Create a new data frame for question 1
egrid_plnt20_q1 = egrid_plnt20.loc[:,['PNAME', 'PSTATABB', 'UTLSRVNM','SECTOR','BANAME', 
                              'ISORTO', 'CAPFAC','NAMEPCAP', 'PLNGENAN']].copy()

egrid_plnt20_q1.head(n=10)

,PNAME,PSTATABB,UTLSRVNM,SECTOR,BANAME,ISORTO,CAPFAC,NAMEPCAP,PLNGENAN
0,7-Mile Ridge Wind Project,AK,Alaska Power and Telephone Co,Electric Utility,No balancing authority,,NaN,1.8,NaN
1,Agrium Kenai Nitrogen Operations,AK,Agrium US Inc,Industrial CHP,No balancing authority,,NaN,21.6,NaN
2,Alakanuk,AK,"Alaska Village Elec Coop, Inc",Electric Utility,No balancing authority,,0.00000,2.6,0.000
3,Allison Creek Hydro,AK,"Copper Valley Elec Assn, Inc",Electric Utility,No balancing authority,,0.36544,6.5,20808.000
4,Ambler,AK,"Alaska Village Elec Coop, Inc",Electric Utility,No balancing authority,,0.09224,1.5,1212.000
5,Anchorage 1,AK,Chugach Electric Assn Inc,Electric Utility,Chugach Electric Assn Inc,,0.00719,121.4,7646.000
6,Angoon,AK,"Inside Passage Elec Coop, Inc",Electric Utility,No balancing authority,,0.09865,1.9,1641.999
7,Aniak,AK,Aniak Light & Power Co Inc,Electric Utility,No balancing authority,,0.09585,2.6,2183.001
8,Annex Creek,AK,Alaska Electric Light&Power Co,Electric Utility,No balancing authority,,0.74092,4.0,25962.000
9,Auke Bay,AK,Alaska Electric Light&Power Co,Electric Utility,No balancing authority,,0.00000,36.2,-143.000

In [49]:
#Remove the plants with zero or blank capacity factor from the data frame
egrid_plnt20_q1.dropna(axis='rows', subset=['CAPFAC'],inplace=True)
egrid_plnt20_q1 = egrid_plnt20_q1[(egrid_plnt20_q1.CAPFAC > 0)].copy()

In [50]:
#Label the plants that belong to an ISO/RTO as Yes and No for vice versa
egrid_plnt20_q1['is_iso_rto'] = 'Yes'
egrid_plnt20_q1.loc[egrid_plnt20_q1.ISORTO == '', 'is_iso_rto'] = 'No'
#Create a pivot table by state, with nameplate capacity and total generation 
#Values aggregated by plants that belong to ISO/RTO or not
plants_iso = pd.pivot_table(egrid_plnt20_q1, index="PSTATABB", columns='is_iso_rto', 
                        values=['NAMEPCAP', 'PLNGENAN'], fill_value=0, aggfunc=['sum'])
#Drop index level in columns 
plants_iso.columns = plants_iso.columns.droplevel(level =0)
plants_iso.head(n=10)

           NAMEPCAP               PLNGENAN
is_iso_rto       No      Yes            No           Yes
PSTATABB
AK           3025.2      0.0  6.162056e+06  0.000000e+00
AL          35588.3      0.0  1.368420e+08  0.000000e+00
AR           2847.6  14595.3  9.468833e+06  4.517243e+07
AZ          31585.1      0.0  1.093189e+08  0.000000e+00
CA          18664.8  71669.3  3.253016e+07  1.607009e+08
CO          19978.6      0.0  5.409937e+07  0.000000e+00
CT              0.0  10813.2  0.000000e+00  4.119707e+07
DC              0.0     40.8  0.000000e+00  1.745210e+05
DE              0.0   3886.6  0.000000e+00  5.205372e+06
FL          91415.7      0.0  2.507811e+08  0.000000e+00

In [51]:
#Determine the states that are considered as ISO/RTO states based on the dominant percentage of plants under/not under ISO/RTO
plants_iso['percent_iso'] = 100*plants_iso[('NAMEPCAP','Yes')]  / (plants_iso[('NAMEPCAP','Yes')] +plants_iso[('NAMEPCAP','No')] )
#Add and initialize two columns to the pivot table
#The columns "Number of States" will be useful later to count how many have restructured 
plants_iso['Number of States'] = 1
#The column "restructured" is to indicate for each state if it is restructured or not. Initalize in no and change later based on % of ISO/RTO
plants_iso['restructured'] = 'N'
plants_iso.loc[plants_iso.percent_iso >= 51, 'restructured'] = 'Y'

#Include capacity and generation by adding both in and outside ISO/RTO
plants_iso['Capacity in 2020 (MW)'] = plants_iso[('NAMEPCAP','Yes')] +plants_iso[('NAMEPCAP','No')]
plants_iso['Generation in 2020 (MWh)'] = plants_iso[('PLNGENAN','Yes')] +plants_iso[('PLNGENAN','No')]

#Group data by the states that are mostly reformed and not reformed
plants_iso_sum = plants_iso.groupby(['restructured']).sum()
plants_iso_sum.columns = plants_iso_sum.columns.droplevel(level =1)
plants_iso_sum.rename(index={'Y': 'RTO/ISO', 'N':'Non-RTO/ISO'}, inplace=True)
plants_iso_sum.index.name = 'Region'
plants_iso_sum[['Number of States',	'Capacity in 2020 (MW)','Generation in 2020 (MWh)']]

             Number of States  Capacity in 2020 (MW)  Generation in 2020 (MWh)
Region
Non-RTO/ISO                26               581620.0              1.773328e+09
RTO/ISO                    26               749886.2              2.254063e+09

## Question 2

In [52]:
#Read excel file
eia_avgprice = pd.read_excel('eia average retail price residential - september 2022.xlsx', 
                            index_col = 'State', usecols = [0,1,2])

#Delete Rank column
eia_avgprice.drop(columns='Rank', inplace =True)
eia_avgprice.head(n=10)

       Average Retail Price of Electricity to Residential Sector, cents/kWh
State
HI                                                 45.69
NH                                                 32.32
CT                                                 28.84
MA                                                 27.77
CA                                                 26.66
RI                                                 24.43
NY                                                 23.97
ME                                                 23.26
AK                                                 23.08
VT                                                 20.75

In [53]:
plants_restructured_state = plants_iso[['restructured']].copy()

#Modify column names of dataframe, reduce one level
plants_restructured_state.columns = plants_restructured_state.columns.droplevel(level =1)
#Merge restructured dataframe with price dataframe
plants_iso_price = plants_restructured_state.join(eia_avgprice)


#Exclude Alaska, Hawaii, Puerto Rico and Texas from the dataframe
plants_iso_price.drop(['AK', 'PR', 'HI', 'TX'], axis = 0, inplace =True)
plants_iso_price.head()

,restructured,"Average Retail Price of Electricity to Residential Sector, cents/kWh"
PSTATABB,,
AL,N,15.66
AR,Y,13.00
AZ,N,13.27
CA,Y,26.66
CO,N,15.16

In [54]:
#Get average, minimum and maximum prices by region (RTO and non-RTO)
df_iso_price_results = pd.pivot_table(plants_iso_price, index="restructured", fill_value=0, aggfunc=['mean','min', 'max'])

#Get the number of states that belong to RTO and no-RTO regions
df_iso_count = pt_iso_price.groupby(['restructured'])['restructured'].count()
df_iso_count = df_iso_count.to_frame()

#combine information of the count of states and the prices
df_iso_price_results = df_iso_count.join(df_iso_price_results)
df_iso_price_results.rename(index={'Y': 'RTO/ISO', 'N':'Non-RTO/ISO'}, inplace=True)
df_iso_price_results.index.name = 'Region'
df_iso_price_results

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:9130: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(

,restructured,"(mean, Average Retail Price of Electricity to Residential Sector, cents/kWh)","(min, Average Retail Price of Electricity to Residential Sector, cents/kWh)","(max, Average Retail Price of Electricity to Residential Sector, cents/kWh)"
Region,,,,
Non-RTO/ISO,23,13.363043,10.51,15.66
RTO/ISO,25,18.627600,13.00,32.32